<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.sungil.foods.web.domain.AdminMapper">


<insert id="insertMenuInfo" parameterType="edu.sungil.foods.web.domain.dto.MenuInfo">
    insert into mainDb.tb_menu(menu_nm, menu_pc, menu_desc, menu_stock, menu_disp_yn, menu_img_nm)
                              values(
                                  #{menuNm}
                                  ,#{menuPc}
                                  ,#{menuDesc}
                                  ,#{menuStock}
                                  ,#{menuDispYn}
                                  ,#{menuImgNm}
                              )
</insert>

<select id="selectMenuList" parameterType="edu.sungil.foods.web.domain.dto.MenuInfo" resultType="edu.sungil.foods.web.domain.dto.MenuInfo">
select *
  from mainDb.tb_menu
 where 1=1
   <if test="menuNo !='' and menuNo != null">
       and menu_no = #{menuNo}
   </if>
     <if test="menuNm !='' and menuNm != null">
       and menu_nm like CONCAT('%',#{menuNm},'%')
   </if> 

</select>


</mapper>